<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cambridgeshire Alcoholics Anonymous Meeting List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
    <!-- <div class="jumbotron text-center">
        <h1>AA</h1>
        <p>Cambridgeshire Alcoholics Anonymous Meeting List</p>  -->
    <div class="container-fluid p-5 text-center" style="background-color:#e9ecef">
        <h1 class="display-1">AA</h1>
        <p style="color: #212529" ;>Cambridgeshire Alcoholics Anonymous Meeting List</p>
    </div>
        <div class="container">
            <div class="row">
                <!-- option box with posh switch -->
                <div class="col-sm-3">
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" onchange="getData()"  type="checkbox" id="mySwitch"
                            name="darkmode" value="yes">
                        <label class="custom-control-label" for="mySwitch">Order by Day</label>
                    </div>
                </div>
                <!-- town selector drop down -->
                <div class="col-sm-3">
                    <label for="town">Select a town:</label>
                    <select name="town" id="town" onchange="getData()">
                        <!-- 1722 is the id for a town in the database called "all" -->
                        <option value="1722">-- all --</option>
                        {% for town in towns %}
                        <option value={{town.id}}>{{town.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- radius selector for town -->
                <div class="col-sm-6">
                <fieldset disabled id = "distanceRads">
                <!-- <div class="col-sm-2"> -->
                    <input type="radio"   id="5miles" onchange="getData()"
                        name="meetingRadius" value="0" checked>
                    <label class="form-check-label" for="5miles" >within 0
                        miles</label>
                <!-- </div> -->
                <!-- <div class="col-sm-2"> -->
                    <input type="radio"  id="10miles" onchange="getData()"
                        name="meetingRadius" value="10" >
                    <label class="form-check-label" for="10miles" >within 10 miles</label>
                <!-- </div> -->
                <!-- <div class="col-sm-2"> -->
                    <input type="radio"  id='20miles' onchange="getData()"
                        name="meetingRadius" value="20">
                    <label class="form-check-label"  for="20miles">within 20 miles</label>
                <!-- </div> -->
                </fieldset>
                </div>
            </div>
        </div>
    
        <!--  END OF NAVBAR STUFF -->

    </div>
    <div class="container" id="data"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- my javascript -->
    <script>
        $(document).ready(function () {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                document.getElementById("distanceRads").setEnabled = false;    
                document.getElementById("data").innerHTML = this.responseText;
            };
            // 1722 is id for all towns
            xhttp.open("GET", "byTown/1722/0", true);
            xhttp.send();
            console.log("ready!");
        });

        function getRadioValue() {
            var ele = document.getElementsByName('meetingRadius');  
            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked) {
                    return ele[i].value
                }
            }
        }
        function getData() {

            // *******************
            // do stuff for client
            if (document.getElementById("town").value == 1722) {
                document.getElementById("distanceRads").disabled = true;   
            }
            else {
                document.getElementById("distanceRads").disabled = false;
            };

            // ***********************
            // now do stuff for server
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                document.getElementById("data").innerHTML = this.responseText;
            };

            if (document.getElementById("mySwitch").checked == true) {
                urlString = "byDay/" + document.getElementById("town").value 
                + "/" + getRadioValue() 
                xhttp.open("GET", urlString, true);
            }
            else {
                urlString = "byTown/" + document.getElementById("town").value 
                + "/" + getRadioValue() 
                xhttp.open("GET", urlString, true);
            };
            xhttp.send();
        }

    </script>
    <script>
        getTown = function (val) {

            //alert(val)
        }
        getRadius = function (val) {
            //alert(val)
        }
    </script>

    {% block mycontent %}
    {% endblock %}

</body>

</html>