{% extends 'home/base_template.html' %}
{% load wtf_extras %}

{% block mycontent %}
  <p>Cambridgeshire Alcoholics Anonymous Meeting List</p> 
</div>
  
<div class="container">

  {% for sm in sortedMeetings %}
    <h2 class="bg-primary text-white">{{sm.0.day|lnDay}}</h2>
    <div class="row">
    {% for meeting in sm %}
      {% if forloop.counter == 1 %}
      {% endif %}
      <div class="col-sm-4">
        <h4>{{meeting.group }}</h4>
        <p>{{meeting.venue.address1}}, {{meeting.venue.address2}}, {{meeting.venue.address3}},</p>
        <p.strong>{{meeting.venue.town}}</p>
        <p>{{meeting.venue.postcode}}</p>
        <p>{{meeting.startTime}} {{meeting.duration|duration}}</p>
        <p>Disabled access: {{meeting.disabledAccess}}<i class="fas fa-wheelchair"></i></p>
      </div>
      {% if forloop.counter|divisibleby:"3" %}
        </div>
        <div class="row">
      {% endif %}

    {% endfor %}
    </div>
  {% endfor %}    
{% endblock %} 

