{% load wtf_extras %}

{% for sm in sortedMeetings %}
<h5 class="bg-secondary text-white">{{sm.0.day|lnDay}}</h5>
<div class="row">
    {% for meeting in sm %}
        {% include "home/addrLines.html" %}
        <p>Start time: {{meeting.startTime}} {{meeting.duration|duration}}</p>
        <p>Disabled access: {{meeting.disabledAccess}}<i class="fas fa-wheelchair"></i></p>
    </div>
    {% if forloop.counter|divisibleby:"3" %}
        </div>
        <div class="row">
    {% endif %}

    {% endfor %}
</div>
{% endfor %}