{% load wtf_extras %}

{% for meeting in meetings %}
{%if forloop.counter == 1 %}
<div class="row">
  {% endif %}
  <div class="col-sm-4">
    <h5>{{meeting.group }}</h5>
    <p>{{meeting.venue.address1}}
      {% if meeting.venue.address2 > "" %}
      ,{{meeting.venue.address2}},
    {% else %}
    .</p>
    {% endif %}
    {% if meeting.venue.address3 > "" %}
    , {{meeting.venue.address3}}.
    {% else %}
    .</p>
    {% endif %}
    <p.strong>{{meeting.venue.town}} {{meeting.venue.postcode}}</p>
    <p>{{meeting.day|lnDay}}: {{meeting.startTime}} {{meeting.duration|duration}}</p>
    <p>Disabled access: {{meeting.disabledAccess}}<i class="fas fa-wheelchair"></i></p>
  </div>
  {% if forloop.counter|divisibleby:"3" %}
</div>
<div class="row">

  {% endif %}

  {% endfor %}