<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>hello everybody!!!!!</p>
    <button id="myswitch">hello</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <!-- my javascript -->
  <script>
    $(document).ready(function(){
  $("#myswitch").click(function(){
    $("p").hide();
    alert("Hello everybody")
  });
});
</script>
    
</body>
</html>