<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>


<ul>
    <li><span class="hello">rtrtrtrtrt</span></li>
    <li><span class="hello">dfdfdfdfdfdfd</span></li>
    <li><span class="hello">dfdfdfdfdfdfd/span></li>
</ul>
<ul>
    <li><span></span><span></span><span></span></li>
</ul>
<ul>
    <li><span class="hello1"></span></li>
</ul>
<ul>
    <li><span class="hello"></span></li>
</ul>

<ul>
    <li><span class="matteroux"></span></li>




</ul>
<ul>
    <li><span class="hello"></span><span class="hello"></span><span class="hello"></span></li>
</ul>

<ul>
    <li><span class="hello"></span><span class="hello"></span><span class="hello"></span></li>
</ul>


.row.row-cols-2 row-cols-md-4>.col*4>.lc-block

.row.row-cols-2 {% comment %}  {% endcomment %}

<ul>
    <li></li>
</ul>

<div class="form-group">
  <label for=""></label>
  <select class="form-control" name="" id="">
    <option></option>
    <option></option>
    <option></option>
  </select>
</div>

<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
